@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* 固定ヘッダーの高さを考慮 */
}

:root {
  --font-family: var(--font-noto-sans-jp), sans-serif;
}

body {
  font-family: var(--font-family);
  overflow-y: scroll;
}

/* カスタムボタンクラス */
.btn-primary {
  background-color: #4caf50;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: 500;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-primary:hover {
  background-color: #3b8f3e;
}
